@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 0 12rem;
    color: #f9faf8;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header .navbar .logo {
    font-size: 24px;
    font-weight: 900;
}

.header .navbar .links {
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    color: #e5e7eb;
    transition: all 0.3s ease;
    margin-bottom: 5rem;
}

.header .navbar .links li:hover {
    cursor: pointer;
    color: blueviolet;
}


.header .section-in-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8rem;
}


.header .section-in-header div {
    margin-top: 3rem;
    width: 50%;
}

.header .section-in-header .section-1 h1 {
    font-size: 48px;
}

.header .section-in-header .section-1 p {
    font-size: 18px;
    font-weight: 400;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.header .section-in-header .section-1 button {
    border: none;
    padding: .6rem 2rem;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.header .section-in-header .section-1 button:hover {
    cursor: pointer;
}

.header .section-in-header .section-1 button:active {
    transform: scale(0.9);
}

.header .section-in-header .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb79;
    height: 243px;
    font-size: 18px;
}

.container .container-section-1 {
    padding: 3rem 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .container-section-1 h1 {
    font-size: 38px;
    color: #1f2937;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.container .container-section-1 div {
    display: flex;
    margin-top: .8rem;
    gap: 2rem;
}

.container .container-section-1 div article {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 18px;
    color: #1f2937;
}

.container .container-section-1 div article div {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    border: #3882f6 4px solid;
}

.container .container-section-2 {
    margin: 3rem 0;
    padding: 6rem 20rem;
    background-color: #e5e7eb;
    width: 100%;
    color: #1f2937;
}

.container .container-section-2 em {
    font-size: 36px;
    font-weight: 300;
}

.container .container-section-2 strong {
    font-size: 28px;
    font-weight: 700;
    
}

.container .container-section-2 .autograph{
    display: flex;
    justify-content: end;
}

.container .container-section-3{
    padding: 3rem 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .container-section-3 article{
    width: 100%;
    background-color: #3882f6;
    padding: 2.8rem 8rem;
    border-radius: 12px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
}
.container .container-section-3 article h2{
    font-size: 24px;
    font-weight: 700;
}

.container .container-section-3 article p{
    font-size: 18px;
    font-weight: 400;
}

.container .container-section-3 article .buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .container-section-3 article button{
    background-color: transparent;
    padding: .4rem 2.8rem;
    color:#e5e7eb;
    font-size: 18px;
    border: #e5e7eb 2px solid;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.container .container-section-3 article button:hover{
    cursor: pointer;
    background-color: #e5e7eb;
    color: #3882f6;
}

.container .container-section-3 article button:active{
    transform: scale(0.9);
}